<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="CDT_Minecraft.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="search.php" />
                <add value="contact.php" />
                <add value="button.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
